body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: rgb(244, 244, 244);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:visited {
  color: unset;
}

.container {
  margin: 10px;
}

.two_grid_container {
  height: 97vh;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-gap: 10px;
  grid-template-rows: 40% 1fr;
}

.two_grid_container.even {
  grid-template-rows: 50% 1fr;
}

.two_grid_a {
  margin-top: 5vh;
}

.two_grid_b {
  display: grid;
  grid-gap: 10px;
}

.header {
  margin: 0;
  font-size: 3.7em;
  font-weight: 100;
}

.greeting {
  word-spacing: 100vw;
}

.button {
  background-color: rgb(66, 133, 244)!important;
  color: rgb(255, 255, 255)!important;
  height: 57px!important;
  width: 250px!important;
  font-size: 17px!important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px!important;
  border: none!important;
  border-radius: 1px!important;
  cursor: pointer;
  justify-content: space-around;
}

.button:hover {
  box-shadow: rgba(66, 133, 244, 0.3) 0px 0px 3px 3px!important;
}

.button:focus {
  outline: none!important;
}

.button.lg {
  height: 70px!important;
}